<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Example list</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<table class="table-bordered table-hover table-striped">
    <th>
        <tr>
            <td>Login</td>
            <td>Password</td>
        </tr>
    </th>
    <tbody>
    <tr th:each="user : ${listExample}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.bid}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>